<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
  "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
</head>
<body>
<div class="content page">

   <img src="/core/images/bisque_logo_gray.svg" style="float: right; padding: 4px; width: 300px;" />
   <!--<h1>BisQue</h1>-->
    <p><strong>B</strong>io-<strong>I</strong>mage <strong>S</strong>emantic <strong>Q</strong>uery <strong>U</strong>ser <strong>E</strong>nvironment</p>
    <p><strong> <a href="https://github.com/UCSB-VRL/bisqueUCSB"> 0.6.0 </a> </strong></p>
    <p>Bisque is developed by the <a href="http://bigdatahealth.ucsb.edu/">Centre for Multimodal Big Data Science and Healthcare</a> and is supported by the following awards:</p>
    <ul>
     <li>NSF ABI Development: BISQUE - Scalable Image Informatics for Quantitative Biology  <strong>1356750</strong></li>
     <li>NSF EAGER: Collaborative 3D Materials Science Research in the Cloud  <strong>1650972</strong></li>
     <li>HDR IDEAS Institute: Data-Driven Frameworks for Materials Discovery <strong>1934641</strong></li>
     <li>NSF LIMPID: Large-Scale IMage Processing Infrastructure Development <strong>1664172</strong></li>
     <li><a href="http://cyverse.org/">CY<strong>VERSE</strong></a>,  Cyberinfrastructure for BisQue</li>
    </ul>
    <p><em>Any opinions, findings and conclusions or recomendations expressed in this material are those of the author(s)
    and do not necessarily reflect the views of the National Science Foundation (NSF).</em></p>

   <h2>Development Team</h2>

    <ul>
     <li><a href="https://linkedin.com/in/amilkhan/">Amil Khan</a> (Core Developer)</li>
     <li><a href="https://linkedin.com/in/satish-kumar-81912540/">Satish Kumar</a> (Core Developer)</li>
     <li><a href="https://vision.ece.ucsb.edu/people/bs-manjunath">B.S. Manjunath</a> (PI)</li>
    </ul>

   <h2>Bisque Alumni</h2>

    <ul>
     <li><a href="#">Kristian Kvilekval</a> (Volume renderer)</li>
     <li><a href="#">Dmitry Fedorov</a> (Feature server, Botanicam)</li>
     <li><a href="#">Christian Lang</a> (UI, export and modules)</li>
     <!--
     <li><a href="#">Gautam Korlam</a> (AWS and Rightscale integration)</li>
     <li><a href="#">Todd Bryan</a> (AWS and Rightscale integration)</li>
     <li><a href="#">Boguslaw Obara</a>  (UI and modules)</li>
     <li><a href="#">John O'Donovan</a> (UI)</li>
     -->
    </ul>

   <h2>Some amazing third party libraries we use</h2>

    <ul>
     <li><a href="http://www.sencha.com/">ExtJS</a> (UI)</li>
     <li><a href="http://www.bitplane.com/">Imaris Convert</a> (Image Service)</li>
     <li><a href="http://openslide.org/">OpenSlide</a> (Image Service)</li>
     <li><a href="http://www.openmicroscopy.org/site/products/bio-formats">Bio-Formats</a> (Image Service)</li>
     <li><a href="http://www.ffmpeg.org/">FFMpeg</a> (Image Service)</li>
     <li><a href="http://www.remotesensing.org/libtiff/">libTIFF</a> (Image Service)</li>
     <li><a href="http://turbogears.org/">TurboGears</a> (backend)</li>
     <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a> (backend)</li>
    </ul>

</div>
</body>
</html>

