<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
  "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
</head>
<body>
<div class="content page">

   <img src="/core/images/bisque_logo_gray.svg" style="float: right; padding: 5px; width: 400px;" />
   <!--<h1>BisQue</h1>-->
    <p><strong>B</strong>io-<strong>I</strong>mage <strong>S</strong>emantic <strong>Q</strong>uery <strong>U</strong>ser <strong>E</strong>nvironment</p>
    <p><strong>${version}</strong></p>
    <p>Bisque is developed by the <a href="http://www.bioimage.ucsb.edu/">Center for Bio-Image Informatics</a> and is supported by the following awards:</p>
    <ul>
     <li>NSF Information Technology Research (ITR) award  <strong>0331697</strong></li>
     <li>NSF infrastructure award  <strong>EIA-0080134</strong></li>
     <li>NSF award <strong>III-0808772</strong></li>
     <li><a href="http://www.iplantcollaborative.org/">iPlant Collaborative</a>,  NSF Plant Cyberinfrastructure <strong>#DBI-0735191</strong></li>
    </ul>
    <p><em>Any opinions, findings and conclusions or recomendations expressed in this material are those of the author(s)
    and do not necessarily reflect the views of the National Science Foundation (NSF).</em></p>

   <h2>Development team</h2>

    <ul>
     <li><a href="http://www.cs.ucsb.edu/~kris/">Kristian Kvilekval</a> (Discussions:)</li>
     <li><a href="http://www.dimin.net">Dmitry Fedorov</a> (Discussions:)</li>
     <li><a href="#">Christian Lang</a> (Indexing infrastructure, XQuery, XML storage)</li>
    </ul>

   <h2>Bisque alumni</h2>

    <ul>
     <li><a href="#">John Delaney</a> (Volume renderer)</li>
     <li><a href="#">Christopher Wheat</a> (Feature server, Botanicam)</li>
     <li><a href="#">Utkarsh Gaur</a> (UI, export and modules)</li>
     <li><a href="#">Gautam Korlam</a> (AWS and Rightscale integration)</li>
     <li><a href="#">Todd Bryan</a> (AWS and Rightscale integration)</li>
     <li><a href="http://boguslawobara.net/">Boguslaw Obara</a>  (UI and modules)</li>
     <li><a href="#">John O'Donovan</a> (UI)</li>
    </ul>

   <h2>Some amazing third party libraries we use</h2>

    <ul>
     <li><a href="http://www.sencha.com/">ExtJS</a> (UI)</li>
     <li><a href="http://www.bitplane.com/">Imaris Convert</a> (Image Service)</li>
     <li><a href="http://openslide.org/">OpenSlide</a> (Image Service)</li>
     <li><a href="http://www.openmicroscopy.org/site/products/bio-formats">Bio-Formats</a> (Image Service)</li>
     <li><a href="http://www.ffmpeg.org/">FFMpeg</a> (Image Service)</li>
     <li><a href="http://www.remotesensing.org/libtiff/">libTIFF</a> (Image Service)</li>
     <li><a href="http://turbogears.org/">TurboGears</a> (backend)</li>
     <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a> (backend)</li>
    </ul>

</div>
</body>
</html>

