export BISQUE_REPO="${BISQUE_REPO:-$(cd ../../../.. && pwd)}"
export CLUSTER_NAME="${CLUSTER_NAME:-bisque-test}"
export K3S_IMAGE="${K3S_IMAGE:-rancher/k3s:v1.30.14-k3s1}"
export ARGO_WORKFLOWS_VERSION="${ARGO_WORKFLOWS_VERSION:-v4.0.6}"
export BISQUE_ENV_IMAGE="${BISQUE_ENV_IMAGE:-bisque:env}"
export BISQUE_DOCKER_TAG="${BISQUE_DOCKER_TAG:-dev}"
export BISQUE_IMAGE="${BISQUE_IMAGE:-bisque:local}"
export BISQUE_HOST="${BISQUE_HOST:-bisque.localhost}"
export BISQUE_HTTP_PORT="${BISQUE_HTTP_PORT:-8080}"
export BISQUE_HTTPS_PORT="${BISQUE_HTTPS_PORT:-8443}"
