#  Module configuration file for local execution of modules
#
module_enabled = True
runtime.platforms=command

[command]
environments = Staged
executable = python AnnotationRename.py
files = AnnotationRename.py
