p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 0.75;
    border-left: 4px solid #0072ff;
    background: #f0f8ff;
    box-shadow: 0px 0px 3px 0px #bdcadb;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    color: #d81b60;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}