<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:py="http://genshi.edgewall.org/" 
        xmlns:xi="http://www.w3.org/2001/XInclude"  
       >


<body>

<div >
<h1>Modules on this engine</h1>
<ul>
<li py:for="murl,name in modules">
<img src="$murl/thumbnail" width="64" height="64"/>
<a href="${murl}/index">${name}</a>
<a href="${murl}/description">Description</a>
<a href="${murl}/help">Help</a>
</li>
</ul>

</div>

</body>
</html>
