@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*----- Toolbar line at top----- */

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid transparent;
}

.book .book-summary ul.summary li.divider {
	height: 0px;
}

/* TOC book title */

.summary > li:first-child {
    font-size: 1em;
    height: auto;
    padding: 1em 20px;
    line-height: 2em;
}

.summary > li:first-child a {
    font-size: 12.8px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal !important;
    color: #CA225E !important;
    padding: 0 !important;
    border-left: none;
    letter-spacing: 2pt;

}

.summary > li:first-child a:hover {
  border-left: none;
}

.book .book-summary > nav > ul > li > a {
  border-left: 1pt solid white;
}

.book-summary .divider + .chapter > a {
  white-space: normal !important;
}

li.part:first-child {
   border-top: none;
}

/*.book .book-summary ul.summary li.divider {
    height: 0;
} */

.book .book-header.fixed {
  border-bottom: 1px solid transparent;
}

.book .book-header .btn {
  color: #1a162d99;
}

.book .book-header .btn:hover {
  color: #1a162d;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 0.75;
    border-left: 4px solid #0072ff;
    background: #f0f8ff;
    box-shadow: 0px 0px 3px 0px #bdcadb;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    color: #d81b60;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}



.book.font-family-1 {
  font-family: 'Lato', sans-serif;
  color: #404040;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h2, h3 {   
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
}

h1 {
  color: #253858;
  font-size: 41px !important;
}

h2 {
  color: #1a162d;
}

h3 {
  font-size: 1.1em;
  color: #1a162d90;
}

h4 {
  font-size: 1.1em;
  color: #1a162d90;
}

h2 code,
h3 code,
h4 code {
  text-transform: none !important;
  font-size: 1em !important;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 3em !important;
  color: #253858;
  text-transform: none !important;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  color: #CA225E !important;
}

.subtitle em {
  font-style: normal !important;
}

.author {
  color: #1A162D !important;
  text-transform: uppercase;
  letter-spacing: 2pt;
}

p.author em {
  font-style: normal !important;
}


/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #ca225e;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
 color: #ca225e; /* darker color when hovering */
 text-decoration: underline;
}



/*------------ TOC --------------*/

.book .book-summary {
  background: white;
  border-right: #d9d9d9 solid 1pt;
}

.summary{
  font-family: 'Lato', sans-serif;
}

/* numbers */

li a b  {
  padding-right: 1em;
}

/* list items*/
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1a162dad;
}

.summary a:hover {
  color: #1a162dde !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #CA225E !important;
} 
    
/* parts */

li.appendix span, li.part span { 
  margin-top: 1.5em;
  color: #1A162D;
  opacity: 1 !important;
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 12.8px !important;
  font-weight: bold;
  white-space: normal !important;
}



