<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <title>Admin Manager</title>


  <!-- Fix for templates that do not create html in the body -->
  <style type="text/css">
    #content { margin: 0px; }
    body { background-color: #FAFAFA !important; }
  </style>

  <script type="text/javascript" id="config">
      BQ.Server.toolbar_opts = { 'browse': false };
  </script>

<script type="text/javascript">

Ext.onReady(function() {

    setTimeout(function() {
        var w =  Ext.create('BQ.setting.MainPage',{activeTab: 0,});

         // Add ResourceBrowser to BQApp's centerPanel
         BQApp.main.getComponent('centerEl').add(w);
      }, 3000);

});



</script>

</head>
<body>
</body>
</html>
